@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
}

.fadeInUpAnima {
  animation: fadeInUpAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeInDownAnima {
  animation: fadeInDownAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeInAnima {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
